.section.content-cards-container {
    margin: 40px 0;
}
.section.content-cards-container > .content-cards-wrapper {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-cards-wrapper {
    padding: 56px 24px;
}

.content-cards .cc-grid {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 56px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.content-cards .cc-card {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
    background: #0f2e55;
    color: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,.08);
    transition: transform .15s ease, box-shadow .15s ease;
    max-width: 345px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.content-cards .cc-card .cc-card__link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}
.content-cards .cc-media picture,
.content-cards .cc-media img {
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.content-cards .cc-panel {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-cards .cc-panel h3 {
    margin: 0 0 6px;
    font-weight: 800;
    line-height: 1.2;
    font-size: 1.5rem;
    color: #fff;
}

.content-cards .cc-copy {
    color: #e7eef7;
    line-height: 1.6;
}
.content-cards .cc-copy p {
     margin: 0 0 10px;
     font-size: .875rem;
     line-height: 18px;
}

@media (max-width: 1200px) {
    .content-cards .cc-grid {
        grid-template-columns: repeat(2, 360px);
        gap: 40px;
    }
}

@media (max-width: 800px) {
    .content-cards .cc-grid {
        grid-template-columns: 1fr;
        max-width: 600px;
        gap: 24px;
    }

    .content-cards .cc-media picture,
    .content-cards .cc-media img {
        height: 200px;
    }
}
/* --- FIX TABLET VIEW (768px) TO SHOW 2 CARDS --- */
@media (max-width: 1200px) and (min-width: 701px) {
    .content-cards .cc-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px !important;
        max-width: 100% !important;
    }

        .content-cards .cc-grid li {
            width: 100%;
        }

    .content-cards .cc-media picture,
    .content-cards .cc-media img {
        height: 250px;
        object-fit: cover;
    }
    .section.content-cards-container > .content-cards-wrapper {
        padding: 20px;
    }
}

