.form-container { 
    display: block; 
    justify-content: center !important; 
    align-items: center; 
    background-color: #001d4c;
    padding: 10px 45px !important;
  }

.default-content-wrapper{ 
    color:#fff; 
    text-align: center; 
    font-size: 18px; 
    margin: 0 auto;
    font-family: "Roboto Regular", sans-serif;
}
.form-wrapper{
    align-items: center; 
    margin: 0 auto;
    width: 90%;
}