 .form-container { 
    display: block; 
    justify-content: center !important; 
    align-items: center; 
    background-color: #001d4c;
    padding: 10px 45px !important;
  }

  .form-container .default-content-wrapper{ 
    color:#fff; 
    text-align: center; 
    font-size: 18px; 
    margin: 0 auto;
    font-family: "Roboto Regular", sans-serif;
}
.form-wrapper{
    align-items: center; 
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section.form-container > div {
    padding: 0;
  }
  .form-container {
    padding: 20px 12px ;
  }
  .form-wrapper {
    width: 100% ;
  }
  .form-wrapper iframe {
    width: 100% ;
    max-width: 100% ;
  }
}