/* Full-width section */
.accordion-container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.accordion-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
}


.accordion.block {
  width: 100%;
  max-width: 850px;
  padding-left: 60px;
  padding-right: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box; 
}

.accordion.block > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

/* Headings */
.accordion.block h2 {
  font-family: "Roboto Regular", sans-serif;
  font-size: 30px;
  line-height:34px ;
  color: #000;
  margin: 0;
}

/* Paragraphs */
.accordion.block p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height:24px ;
  margin: 0 0 1rem 0;
}

/* Lists */
.accordion.block ul {
  padding-left: 1.5rem;
  margin: 0;
}

.accordion.block li {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 0.5rem;
}
/* bullet color */
.accordion.block li::marker {
  color: #fba919;
}
/* Links */
.accordion.block a {
  color: rgb(1, 86, 213);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.accordion.block a:hover {
text-decoration: none;
}
.accordion.block > div:first-child {
  margin-top: 3rem; 
}
.accordion-container {
  padding-top: 40px;
  padding-bottom: 50px;

}

/* Responsive layout */
@media (max-width: 1024px) {
  .accordion-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .accordion.block {
    max-width: 100%;
    padding: 0 1rem;
  }
}
@media (max-width:768px) {
  .accordion.block {
    margin-right: 25px;
    margin-top: -50px;
  }
  .accordion.block h2{
    font-size: 24px;
    line-height: 2rem;
    font-weight: 400;
    padding-right: 25px;
    margin-right: 20px;
  }
  .accordion.block p, .accordion.block li {
    display: block;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-right: 35px;
    padding-right: 25px;
  }
  .accordion.block p, .accordion.block{
    padding-right: 25px;
  }
  .accordion.block li::before {
   content: "\25CF";
   color: #fba919;
   padding-right: 6px;
  }
}
