
.section.content-type-container {
  width: 25%; 
  float: right;
  box-sizing: border-box;
}
.content-type-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-right: 90px;  
  margin-left: -170px;
}
.content-type.block {
    font-size: 18px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 420px; 
}

.content-type.block picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.content-type.block h3 {
  background-color: #001D4C;
  color: #ffffff;
  font-weight: bold;
  padding: 24px;
  margin: 0;
  line-height: 1.4;
  text-align: left;
}

.content-type.block p {
  background-color: #fba919 !important; 
  color: #000000 !important;           
  border-radius: 24px;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px 10px;
  
}
.content-type.block > div:last-child {
  background-color: #001D4C !important;
  padding: 24px 24px 32px;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-type.block > div:first-child {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px)and (min-width: 992px) {
.content-type-wrapper{
  /* margin-top: -3740px; */
  margin-right: 10px;
}
.content-type.block h3{
  font-size: 27px;
}
.content-type.block p{
  margin-bottom:30px;
  height: 20px;
  width: 150px;
  text-align: center;
}
}

@media (max-width: 991px)  and (min-width: 768px){
.content-type-wrapper{
  margin-right: 10px;
}
.content-type.block h3{
  font-size: 27px;
}
.content-type.block p{
  margin-bottom:30px;
  height: 20px;
  width: 150px;
  text-align: center;
}
}

@media (max-width: 767px) {
  .content-type-wrapper {
    /* margin-left: 0;
    margin-right: 0; */
    /* padding-left: 16px;
    padding-right: 16px;  */
  }
  .content-type.block {
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: -60px;
    margin-left: -170px;
    margin-right: -110px;
  }
  .content-type.block h3{
    text-align: left;
    font-size: 17px;
  }
  .content-type.block p {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .content-type.block{
    text-align: center;
  }
}
