.section.title-container > .title-wrapper {
    max-width: 100%;
    padding-top: 50px;
}
.title {
    margin-bottom: 2.8125rem !important;
}
.title--color-dark {
    color: #000;
}

.title--text-left {
    text-align: left;
}

.title--text-center {
    text-align: center;
}

.title--text-right {
    text-align: right;
}
.title.title--text-center .cmp-title__text {
    text-align: center !important;
}

.title .cmp-title__text {
    margin: 0 0 .58333rem;
    font-family: "Roboto Bold", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (min-width: 992px) {
    .title .cmp-title__text {
        font-size: 1.875rem;
        line-height: 2.125rem;
    }
}
