.eyebrow-container {
  background-color: #FBA919;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  width: 100%;
  position: fixed;
  top: 44px; 
  left: 0;
  z-index: 1290;
 
}


.eyebrow {
  display: flex;
  justify-content: flex-end; 
  /* align-items: center; */
  text-align: right;
  padding: 12px 0 12px 0; 
 
}

.eyebrow p  {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}


.eyebrow a {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.section .eyebrow-wrapper {
    max-width: 100%;
    margin: 0 60px;
}

@media (max-width: 768px) {
  .eyebrow {
    justify-content: center; 
    text-align: center;
    padding: 10px 20px;
  }

  .eyebrow p {
    font-size: 13px;
    line-height: 1.4;
  }
}
/* MOBILE FIX: Eyebrow items in one single line */
@media (max-width: 768px) {
    .eyebrow-container,
    .eyebrow-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        .eyebrow-container * {
            white-space: nowrap; /* text should not break into two lines */
        }
}
