.hero.block h1 {
  position: absolute;
  top: 45%; 
  left: 57%; 
  right: 8vw; 
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.92);
  color: #001D4C;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.15;
  padding: 1.8rem 2.2rem;
  height: 110px;
  margin: 0;
  max-width: 490px;
  min-width: 320px;
  text-align: left;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.09);
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}
.section.hero {
  /* position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; */
}
.hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding:0 !important;
}
/* Hero block */
.hero.block {
  /* position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; */
}

.hero.block h1::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 80%;
  margin-right: 16px;
  border-radius: 2px 0 0 2px;
  background-color: #fba91a;
  flex-shrink: 0;
}



.hero-container > .hero-wrapper {
  max-width: 100vw !important;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 !important;
}
/* Fix for 1024px (Tablet Landscape) */
@media (max-width: 1200px) and (min-width: 992px) {
  .hero.block h1 {
    top: 45%;
    left: 52%;   
    right: 6vw;
    transform: translateY(-50%);
    max-width: 440px;
  }
  .hero-container > .hero-wrapper {
    width: 100vw;
    max-width: 100vw !important;
    margin-left: calc(-50vw + 50%);
  }
  .hero.block picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .hero.block h1{
    font-size: 30px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hero.block h1 {
    top: 45%;
    left: 40%;   
    right: 6vw;
    transform: translateY(-50%);
    max-width: 490px;
  }
  .hero-container > .hero-wrapper {
    width: 100vw;
    max-width: 100vw !important;
    margin-left: calc(-50vw + 50%);
  }
  .hero.block picture img {
    width: 100%;
    height: 390px;
    object-fit: cover;
  }
  .hero.block h1{
    /* margin-left: 20px; */
    /* margin-right: 40px; */
    padding-right: 0px;
    padding-left: 10px;
    font-size: 26px;
  }
}
@media (max-width: 767px){
  .hero.block picture,
  .hero.block picture img,
  .hero.block img {
    display: block ;
    width: 100% ;
    height: 100vw;
    object-fit:none ;
    top:10px;
    padding-top: -40px;
    margin-top: -103px;
  }
  .hero.block h1 {
    position: inherit; 
    max-width: 800px;   
    width: 100% !important;    
    /* background: rgba(255,255,255,0.97) ; */
    color: #001D4C ;
    font-size: 24px;
    font-weight: 700 ;
    line-height: 1.08 ;
    text-align: left ;
    padding-top: 10px;
    margin-top: -50px;
  }
  .hero.block h1::before {
    content: "" ;
    display: inline-block;
    width: 8px;
    height: 1.7em;
    margin-right: 12px;
    vertical-align: middle;
    background: #fba91a;
    border-radius: 2px;
  }
}
