

.bottomfooter-container {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #001D4C;
  color: white;
  padding: 60px 24px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  overflow: visible;       
  min-height: 550px;     
  height: auto;            
  border-top: 5px solid #fba91a;
}

.bottomfooter-container .bottomfooter-wrapper {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 24px; 
}

.bottomfooter-container .bottomfooter.block > div:first-child {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px; 
  margin-bottom: 32px;
}

.bottomfooter-container .bottomfooter.block > div:first-child > div {
   flex: 1 1 auto
}

/* LOGO */
.bottomfooter-container .bottomfooter.block picture {
  flex: 0 0 auto;
}

.bottomfooter-container .bottomfooter.block picture img {
  width: 300px;
  height: auto;
  margin-bottom: 24px;
  display: block;
}


.bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}


.bottomfooter-container .button-container {
  flex: 1 1 140px;
}

.bottomfooter-container .button-container a.button {
  display: block;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto Medium", sans-serif;
  transition: background-color 0.3s ease;
  
}

.bottomfooter-container .button-container a.button:hover {
  text-decoration: underline;
}


.bottomfooter-container .bottomfooter.block > div:nth-child(2) {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.bottomfooter-container .bottomfooter.block > div:nth-child(2) p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.bottomfooter-container .bottomfooter.block a {
  color: white; 
  text-decoration: none;
}


.bottomfooter-container .default-content-wrapper {
  position: relative;
  padding-right: 24px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}


.bottomfooter-container .default-content-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white; 
  margin: 24px 0; 

}

.bottomfooter-container .default-content-wrapper p {
  margin: 8px 0;
}
.bottomfooter-container .default-content-wrapper p:nth-child(1) {
  margin-bottom: 80px;
}

.bottomfooter-container .default-content-wrapper a {
  color: #fba91a;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .bottomfooter-container .bottomfooter.block > div:first-child {
    flex-direction: column;
    align-items: center;
  }

  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(2) {
    justify-content: center;
  }

  .bottomfooter-container .button-container {
    flex: 1 1 45%;
  }
}
.form-container + .bottomfooter-container {
  margin-top: 0;
}

.bottomfooter-container {
  margin-top: 0; 
  padding-top: 60px;
}

.footer-wrapper {
  background-color: #001D4C;
  margin-top: 60px;
}
.bottomfooter-container .bottomfooter.block {
  padding-top: 40px; 
}

@media (min-width: 769px) {
  .bottomfooter-container .bottomfooter.block > div:first-child > div:first-child p + p {
    margin-top: 24px;  
    padding-top:60px;
  }
}
/* TABLET */
@media (min-width: 481px) and (max-width: 900px) {
  .bottomfooter-container .bottomfooter.block > div:first-child {
    flex-direction: row;
    align-items: flex-start ;
    gap: 32px;
    flex-wrap: nowrap ;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:first-child > p:nth-of-type(2) {
    padding-top: 50px;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(1) {
    width: auto;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 1px ;
    width: auto ;
  }
  .bottomfooter-container .default-content-wrapper p:nth-child(1) {
    padding-left: 20px;
    padding-right: 0;
    font-size: 14px;
  }
  .bottomfooter-container .default-content-wrapper p {
    padding-left: 20px;
    font-size: 15px;
  }
}
/* MOBILE */
@media (max-width: 480px) {
  .bottomfooter-container .bottomfooter.block {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(1) {
    order: 1;
    width: 100%;
    text-align: left;
  }
  .bottomfooter-container .bottomfooter.block picture img {
    width: 220px;
    height: auto;
    display: block;
    margin: 0; 
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(1) p:nth-child(2),
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(1) > p {
    margin-top: 18px;
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(2) {
    order: 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    justify-content: center;
    align-items: start;
  }
  .bottomfooter-container .bottomfooter.block > div:first-child > div:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
  }
  .bottomfooter-container .button-container {
    width: 100%;
    margin: 0;
  }
  .bottomfooter-container .button-container a.button {
    font-size: 18px;
    padding: 4px 0;
  }
  .bottomfooter-container .default-content-wrapper p:nth-child(1) {
    padding-left: 20px;
    padding-right: 0;
    font-size: 14px;
  }
  .bottomfooter-container .default-content-wrapper p {
    padding-left: 20px;
    font-size: 15px;
  }
}
