.megamenu-container {
  background-color: #001d4c;
  position: sticky;
  top: 0;
  z-index: 1100;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-family:"Roboto Medium", sans-serif ;
  font-size: 15px;
}
main > .section>{
  margin: 0;
}
main > .section > div {
 
  padding: 0 45px;
}
/* .megamenu-wrapper {
  max-width: 100px;    
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.megamenu-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 45px;
  padding: 0 24px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.megamenu {
  display: flex;
 
    /* gap: 0 1.25rem */
    gap: 38px;
}

/* Arrows using pseudo-elements */
.megamenu .button-container a.button {
  position: relative;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 2rem 0.75rem 1rem; 
  display: inline-block;
  white-space: nowrap;
}

.megamenu .button-container a.button::after {
  content: "â¯"; 
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg); 
  font-size: 0.8em;
  color: #fff;
  transition: transform 0.2s ease;
}

/* Up arrow on menu open */
.megamenu > div:hover .button-container a.button::after,
.megamenu > div:focus-within .button-container a.button::after {
  transform: translateY(-50%) rotate(-90deg); 
}

.megamenu > div > div:last-child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #001d4c;
  display: none;
  padding: 2rem 0;
  z-index: 999;
  border-top: 4px solid #f47c20;
}


.megamenu > div:hover > div:last-child,
.megamenu > div:focus-within > div:last-child,
.megamenu > div > div:last-child:hover {
  display: block;
  align-items: center;
}

.megamenu ul {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(180px, 1fr));
  gap: 1rem 2rem;
  list-style: none;
  line-height: 2;
}

.megamenu ul li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  display: block;
  white-space: nowrap;
}
.icon-search img {
  width: 27px;
  height: 24px;
  filter: invert(1);
}



.icon-search-wrapper {
  margin-top: 20px;
  width: 280px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse; 
  position: relative;
  margin-left: auto;
}


.search-input {
  display: none;
  padding: 6px 20px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: white;
  color: #001d4c;
  width: 180px;
  height: 22px;
}

.icon-search-wrapper.active .search-input {
  display: block;
}

.icon-search {
  cursor: pointer;
}
