.section.text-container > .text-wrapper {
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.text {
    margin-bottom: 2rem;
}

.text--align-left {
    text-align: left;
}

.text--align-center {
    text-align: center;
}

.text--align-right {
    text-align: right;
}

.text--color-dark {
    color: #161616;
}

    .text--color-dark * {
        color: inherit;
    }

.text .cmp-text {
    font-family: "Roboto Regular", sans-serif;
}
    .text .cmp-text p {
        margin: 0 0 1rem;
    }

    .text .cmp-text ul,
    .text .cmp-text ol {
        margin: 0 0 1rem 1.25rem;
        padding: 0;
    }

    .text .cmp-text li {
        margin: 0.375rem 0;
    }

    .text .cmp-text a {
        text-decoration: underline;
    }

@media (min-width: 768px) {
    .text .cmp-text p {
        margin-bottom: 1.5rem;
    }

}
@media (max-width: 768px) {
    .section.text-container > .text-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}
