/* sections */
main > .section {
  margin: 0;
}
main > .section > div {
  max-width: 1400px;
 
  padding: 0 45px;
}
main > .section:first-of-type {
  margin-top: 0;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
}
:root {
    --body-font-family: roboto, roboto-fallback, sans-serif;
    --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;
    --wg-icons-font-family: WG-Icons, sans-serif;
}