/* sections */
main > .section {
  margin: 0;
}
main > .section > div {
  max-width: 1400px;
  /* margin: auto; */
  padding: 0 45px;
}
main > .section:first-of-type {
  margin-top: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
main {
    overflow-x: clip;
}
body {
    margin: 0;
}
body.appear {
    margin: 0 !important;
}
img, video, svg, canvas, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}