/* sections */
main > .section {
  margin: 0;
}
main > .section > div {
  max-width: 1400px;
 
  padding: 0 45px;
}
main > .section:first-of-type {
  margin-top: 0;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
}