.button {
    padding: 0.85rem 1.25rem;
    text-align: center;
}
.button.primary {
        font: inherit;
        background: #fba919;
        color: #000;
        box-shadow: none;
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem 1.5rem;
        border: 0;
        background-image: none;
        line-height: inherit;
        border-radius: 1.5rem;
        text-transform: uppercase;
        font-family: var(--body-font-family);
        max-width: fit-content;
        margin-top: auto;
        cursor: pointer;
        align-self: center;
        white-space: nowrap;
}
.button.primary:hover {
        background-color: #e79404;
        transition: .5s;
}
.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.mainarea-container .button-wrapper {
    align-self: center;
    padding-top: 25px;
    padding-left: 0px;
}

.mainarea-container .block.button {
    padding-left: 0px;
}

.mainarea-container .mainarea.block > div > div:last-child {
    padding-right: 0px;
}

.mainarea-container .mainarea-wrapper {
    padding-right: 24px;
}
