.button-wrapper .button {
    padding: 20px; 
}
.button.primary {
    background: transparent;
    font-weight: 700;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    white-space: nowrap;
    font-family: "Roboto Medium", sans-serif;
    align-items: center;
    font-size: 18px;
    color: #003057;
    margin: 0;
    line-height: 1.4;
}
.button.primary.with-icon {
    gap: 10px;
}
.button.primary.with-icon .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: rgb(251, 169, 25);
    border-radius: 50%;
}
.button .label {
    font-family: "Roboto Medium", sans-serif;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    color: #003057;
    margin: 0;
    line-height: 1.4;
    white-space: nowrap;
}
.mainarea-container .button-wrapper {
    align-self: center;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 80px;
}

.mainarea-container .block.button {
    padding-left: 0px;
}

.mainarea-container .mainarea.block > div > div:last-child {
    padding-right: 0px;
}

.mainarea-container .mainarea-wrapper {
    padding-right: 24px;
}